{% extends 'base.html' %}

{% block content %}
    <table>
    {% for x in obj %}
        <tr>
            <td>{{ forloop.counter }}. {{ x.url }} || Priority</td>
            <td>
                <form action="." method="post">{% csrf_token %}
                    <input type="submit" name="pr" value="increase">
                    <input type="hidden" value="{{ x.pk }}" name="obj_pk">
                </form>
            </td><td>
                <form action="." method="post">{% csrf_token %}
                    <input type="submit" name="pr" value="decrease">
                    <input type="hidden" value="{{ x.pk }}" name="obj_pk">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}