{% extends 'base.html' %}
{% load thumbnail core_tags %}

{% block content %}
{% if user.is_authenticated %}<a href="{% url 'profile_edit' %}">Edit</a>{% else %}<a href="{% url 'django.contrib.auth.views.login' %}">Login</a>{% endif %} 
{% if user.is_superuser %}{% edit_link obj %}{% endif %}
<table width="50%">
    <tr>
        <td>
            Name: {{ obj.name }}<br>
            Last name: {{ obj.surname }}<br>
            Date of birth: {{ obj.birthday }}<br>
            Photo:<br>
            {% thumbnail obj.photo "290x390" as im %}
                <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
            {% endthumbnail %}
        </td>
        <td valign="top">
            Contacts<br>
            Email: {{ obj.email }}<br>
            Jabber: {{ obj.jabber }}<br>
            Skype: {{ obj.skype }}<br>
            Other contacts: {{ obj.other_contacts }}<br>
            Bio: {{ obj.bio }}
        </td>
    </tr>
</table>
{% endblock %}